<div>
  <h3>Get in Touch with us , to get a qoute for your next project.</h3>
  <form [formGroup]="contactForm"
    class="">
    <div class="container-fluid">
      <div class="row">
        <mat-form-field class="col col-sm-3">
          <mat-label matLabel>Name</mat-label>
          <input matInput
            formControlName="name"
            placeholder="Preffered name">
        </mat-form-field>

        <mat-form-field class="col col-sm-3 float-right">
          <mat-label matLabel>Email</mat-label>
          <input matInput
            formControlName="email"
            placeholder="Contact Email">
          <small style="text-danger"
            *ngIf="contactForm.get('email')?.errors?.['email']">Incorrect email format.</small>
        </mat-form-field>

        <mat-form-field class="col col-sm-2 float-right">
          <mat-label matLabel>Contact Number</mat-label>
          <input matInput
            type="tel"
            formControlName="contact_number"
            placeholder="Contact Number">
          <small style="text-danger"
            *ngIf="contactForm.get('contact_number')?.errors">Incorrect number</small>
        </mat-form-field>
      </div>
      <div class="row mt-1">
        <mat-form-field>
          <mat-label matLabel
            class="col-lg-5">Project Description</mat-label>
          <textarea matInput
            formControlName="project_description"
            placeholder="Brief Description About the project"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="showDatePicker"
        class="row mt-1"
        id="datepicker">
        <mat-form-field class="col col-sm-3"
          appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput
            formControlName="contact_back_Date"
            [matDatepickerFilter]="myFilter"
            [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="row justify-content-md-center">

        <button mat-raised-button
          class="col col-md-2 mx-5"
          color="basic"
          (click)="toggleDatePicker()">Choose Call Back Date</button>

        <button mat-raised-button
          type="reset"
          class="col col-md-1 mx-5"
          color="warn"
          (click)="submitrequest()">Reset</button>

        <button mat-raised-button
          type="submit"
          class="col col-md-1 mx-5"
          color="primary"
          (click)="submitrequest()"
          [disabled]="contactForm.invalid">Submit</button>


      </div>
    </div>
  </form>
</div>