version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: dockerfile.dev
        ports:
            - '4200:4200'
        volumes:
            - .:/app
            - /app/node_modules
        environment:
            - NODE_ENV=development
    prod:
        build:
            context: .
            dockerfile: dockerfile
        ports:
            - '4201:80'
        environment:
            - NODE_ENV=development
