<div class="bg-dark">
  <!--Web app-->
  <div *ngIf="!isMobile"
    class="p-5">
    <h3 class="text-light">Pre-built Api Integeration</h3>
    <div style="display: flex;overflow: auto;">
      <!--Card 1-->
      <div class="card m-4"
        style="min-width:300px;max-width: 350px;">
        <img src="{{images[0].url}}"
          class="card-img-top"
          style="min-height: 70%;max-height: 70%;"
          alt="C{{images[0].alt}}">
        <div class="card-body">
          <h5 class="card-title">{{images[0].title}}</h5>
          <p class="card-text">{{images[0].description}}</p>
          <a href="{{images[0].link}}"
            class="btn btn-primary">{{images[0].alt}}</a>
        </div>
      </div>

      <!--Card 2-->
      <div class="card m-4"
        style="min-width:300px;max-width: 350px;">
        <img src="{{images[1].url}}"
          class="card-img-top"
          style="min-height: 50%;"
          alt="C{{images[1].alt}}">
        <div class="card-body">
          <h5 class="card-title">{{images[1].title}}</h5>
          <p class="card-text">{{images[1].description}}</p>
          <a href="{{images[1].link}}"
            class="btn btn-primary">{{images[1].alt}}</a>
        </div>
      </div>

      <!--Card 3-->
      <div class="card m-4"
        style="min-width:300px;max-width: 350px;">
        <img src="{{images[2].url}}"
          class="card-img-top"
          style="min-height: 50%;"
          alt="C{{images[2].alt}}">
        <div class="card-body">
          <h5 class="card-title">{{images[2].title}}</h5>
          <p class="card-text">{{images[2].description}}</p>
          <a href="{{images[2].link}}"
            class="btn btn-primary">{{images[2].alt}}</a>
        </div>
      </div>
    </div>

  </div>



  <!--Mobile app-->
  <div *ngIf="isMobile"
    class="p-2 align-middle"
    style="min-height: 80vh;">
    <h3 class="text-light mb-3">Pre-built Api Integeration</h3>
    <div style="display: flex;overflow: auto;">
      <!--Card 1-->
      <div class="card m-1"
        style="min-width:400px;max-width: 350px;">
        <img src="{{images[0].url}}"
          class="card-img-top"
          style="min-height: 70%;max-height: 70%;min-height: 400px;"
          alt="C{{images[0].alt}}">
        <div class="card-body">
          <h5 class="card-title">{{images[0].title}}</h5>
          <p class="card-text">{{images[0].description}}</p>
          <a href="{{images[0].link}}"
            class="btn btn-primary">{{images[0].alt}}</a>
        </div>
      </div>

      <!--Card 2-->
      <div class="card m-1"
        style="min-width:400px;max-width: 450px;min-height: 400px;">
        <img src="{{images[1].url}}"
          class="card-img-top"
          style="min-height: 50%;"
          alt="C{{images[1].alt}}">
        <div class="card-body">
          <h5 class="card-title">{{images[1].title}}</h5>
          <p class="card-text">{{images[1].description}}</p>
          <a href="{{images[1].link}}"
            class="btn btn-primary">{{images[1].alt}}</a>
        </div>
      </div>

      <!--Card 3-->
      <div class="card m-1"
        style="min-width:400px;max-width: 350px;min-height: 400px;">
        <img src="{{images[2].url}}"
          class="card-img-top"
          style="min-height: 50%;"
          alt="C{{images[2].alt}}">
        <div class="card-body">
          <h5 class="card-title">{{images[2].title}}</h5>
          <p class="card-text">{{images[2].description}}</p>
          <a href="{{images[2].link}}"
            class="btn btn-primary">{{images[2].alt}}</a>
        </div>
      </div>
    </div>
  </div>




</div>