<div class="container">
	<!--All these items should be in the middle.-->
	<!--Desktop App-->
	<div *ngIf="!isMobile">
		<div class="d-flex justify-content-center flex-nowrap mx-5 my-3">
			<app-images class="w-75" img_height="'50px'"></app-images>
		</div>
		<app-feature-devlopment
			*ngFor="let service of homeServices; let i = index"
			[serviceIndex]="i"
			class="m-3 mat-elevation-z4"
		></app-feature-devlopment>
	</div>
	<!--Mobile App-->
	<div *ngIf="isMobile" style="overflow-x: hidden">
		<app-images class="mx-1" img_height="'50px'"></app-images>

		<!--Rest of the cards-->
		<app-feature-devlopment
			*ngFor="let service of homeServices; let i = index"
			[serviceIndex]="i"
			class="m-3 mat-elevation-z4"
		></app-feature-devlopment>
	</div>
</div>
