<div>
	<!--Web app-->
	<div
		*ngIf="!isMobile"
		class="p-5"
		style="border-radius: 25px; background-color: rgb(233, 233, 233)"
	>
		<h3 class="text-dark">{{ title }}</h3>
		<div style="display: flex; overflow: auto">
			<div
				class="card m-4"
				*ngFor="let item of images"
				style="min-width: 300px; max-width: 350px"
			>
				<img
					src="{{ item.url }}"
					class="card-img-top"
					style="height: 200px; object-fit: cover"
					alt="{{ item.alt }}"
				/>
				<div class="card-body">
					<h5 class="card-title">{{ item.title }}</h5>
					<p class="card-text">{{ item.description }}</p>
				</div>
			</div>
		</div>
	</div>

	<!--Mobile app-->
	<div
		*ngIf="isMobile"
		class="p-2 align-middle"
		style="
			min-height: 70vh;
			border-radius: 10px;
			background-color: rgb(233, 233, 233);
		"
	>
		<h3 class="text-dark mb-3">{{ title }}</h3>
		<div style="display: flex; overflow-y: hidden; overflow-x: auto">
			<div
				class="card m-2"
				*ngFor="let item of images"
				style="min-width: 300px; max-width: 320px"
			>
				<img
					src="{{ item.url }}"
					class="card-img-top"
					style="height: 180px; object-fit: cover"
					alt="{{ item.alt }}"
				/>
				<div class="card-body">
					<h5 class="card-title">{{ item.title }}</h5>
					<p class="card-text">{{ item.description }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
