<div class="container">
  <!--All these items should be in the middle.-->
  <!--Desktop App-->
  <div *ngIf="!isMobile">
    <div class="d-flex justify-content-center flex-nowrap m-5">
      <app-images class="w-75"
        style="height: 50% !important;"
        img_height="'50px'"></app-images>
    </div>
    <api-examples class="m-3"></api-examples>
    <data-services class="m-3"></data-services>
  </div>
  <!--Mobile App-->
  <div *ngIf="isMobile"
    style="overflow-x: hidden;">
    <app-images class="mx-1"
      style="height: 50% !important; min-height: 85vh;"
      img_height="'50px'"></app-images>
    <api-examples class="m-3 mat-elevation-z4"></api-examples>
    <data-services class="m-3 mat-elevation-z4"></data-services>
  </div>
</div>
