::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
	filter: invert(30%);
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
	opacity: 0.7;
}

::ng-deep .carousel-control-prev:hover,
::ng-deep .carousel-control-next:hover {
	opacity: 1;
}
